/* (HeaderBad) Navigointipalkin asiat: */
.navbar {
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 20px;
}

.link-row {
  margin-top: 5px;
}

.NavBarLink {
  margin: 5px;
}

#navbarSelect {
  width: 50%;
}

.signout {
  overflow: auto;
  float: right;
}

.signout-button {
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 7px;
}

/* OrderCard komponentin asiat: */
.OrderCard {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

.card {
  margin-bottom: 20px;
}

.card-content {
  overflow: auto;
  width: auto;
}

.card-text {
  display: inline-block;
}

.orderCardBtn {
  margin-left: 20px;
  vertical-align: top;
  float: right;
}

/* ordersPage-sivun ja dbQueryResultPage-sivun asiat*/
#statusCheck {
  width: 100%;
}

/* orderDetailsPage-sivun asiat: */
.orderTitle1 {
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid black;
}

.orderTitle2 {
  display: inline-block;
}

.statusTitle {
  display: inline-block;
  margin-right: 5px;
}

.statusName {
  display: inline-block;
}
